::ng-deep .mat-mdc-tab-group .mat-mdc-tab-body-content {
  padding: 0 !important;
}

::ng-deep .mat-mdc-tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container {
    margin: 0 !important;
}

::ng-deep .ql-container {
    height: auto !important;
    .ql-editor {
        height: auto !important;
        min-height: 160px !important;
    }
    .ql-editor.readonly {
        background-color: #f9f9f9;
        cursor: not-allowed;
    }
}

.no-copy {
    user-select: none;     /* Prevent text selection */
    pointer-events: none;  /* Disable interaction like copying */
}