<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="'/dashboard'"  class="whitespace-nowrap text-primary-500"
                        >Home</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <span class="text-secondary ml-1">Curriculum</span>
                </div>
            </div>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                Manage Curriculum
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [(ngModel)]="query" [autocomplete]="'off'" [placeholder]="'Search by name'" />
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openDialog(1)"
                [disabled]="entityForm.disabled || entityForm.disabled">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto">

            @if (list$ | async; as list) {
            @if (list.length > 0) {
            <div class="grid">
                <!-- Header -->
                <div class="list-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    matSort matSortDisableClear>
                    <div [mat-sort-header]="'name'">Name</div>
                    <div [mat-sort-header]="'createdOn'">Created On</div>
                    <div [mat-sort-header]="'publisherName'">Publisher Name</div>
                    <div [mat-sort-header]="'publisherEmail'">Publisher Email</div>
                    <div [mat-sort-header]="'phone'">Phone</div>
                    <div class="hidden sm:block">Actions</div>
                </div>

                <!-- Filtered + Sorted Rows -->
                @if (list | SearchFilter:query:'name'; as filteredList) {
                <div *ngIf="filteredList.length > 0; else noRecordFound">
                    @for (item of filteredList; track trackByFn($index, item)) {
                    <div class="list-grid grid items-center gap-4 border-b px-6 py-3 md:px-8">
                        <div class="truncate" [title]="item.name">{{ item.name }}</div>
                        <div [title]="item.createdOn">{{ item.createdOn }}</div>
                        <div [title]="item.publisherName">{{ item.publisherName }}</div>
                        <div [title]="item.publisherEmail">{{ item.publisherEmail }}</div>
                        <div [title]="item.phone">{{ item.phone }}</div>

                        <div class="flex gap-2">
                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                [matTooltip]="'Update'" [disabled]="entityForm.disabled" (click)="openDialog(2, item)">
                                <mat-icon class="icon-size-6 text-primary-500"
                                    [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                            </button>

                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                [matTooltip]="'Delete'" (click)="deleteItem(item)">
                                <mat-icon class="icon-size-6 text-red-500"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    }
                </div>

                <ng-template #noRecordFound>
                    <div class="border-t p-8 text-center text-2xl tracking-tight">
                        No records found for the term <span class="font-semibold">"{{ query }}"</span>
                    </div>
                </ng-template>
                }
            </div>
            }
            @else {

                <ng-container *ngTemplateOutlet="noData"></ng-container>

            }
            }
            @else {
            <ng-container *ngTemplateOutlet="noData"></ng-container>
            }
        </div>
    </div>
</div>

<ng-template #noData>
    <div class=" p-8 text-center text-4xl tracking-tight sm:p-16">
        <div class="w-full flex justify-center">
            <img src="images/no-data.png" alt="No data" class="w-90" />
        </div>
        <div class="mt-5 text-center text-4xl font-extrabold">
            No Data Available!
        </div>
        <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
            It looks like you haven’t added any curriculums to start with. Add curriculum information by clicking the
            (+) button on the top right.
        </div>

    </div>
</ng-template>

<ng-template #EntityDialog let-data="data">
    <div class="flex max-h-160 flex-auto flex-col overflow-hidden">
        <!-- Header -->
        <div class="flex h-14 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
            <div class="text-lg font-medium">{{ mode === 1 ? 'Add New Curriculum' : 'Update Curriculum'}}</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Card form -->
    <form class="flex w-full flex-0 flex-col items-start overflow-y-auto max-h-96 space-y-3 p-4 mt-3"
        [formGroup]="entityForm">

        <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row gap-4 w-full">
            <mat-form-field class="w-full"  floatLabel="always">
                <mat-label>Curriculum Name</mat-label>
                <input matInput [formControlName]="'name'" [placeholder]="'e.g. CBSE'" required maxlength="200" />
                @if (entityForm.get('name').hasError('required')) {
                <mat-error>Curriculum Name is required </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="w-full"  floatLabel="always">
                <mat-label>Publisher Name</mat-label>
                <input matInput [formControlName]="'publisherName'" placeholder="e.g. John Smith" required
                    maxlength="200" />
                @if (entityForm.get('publisherName').hasError('required')) {
                <mat-error>Publisher Name is required </mat-error>
                }
            </mat-form-field>

        </div>

        <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row gap-4 w-full">
            <mat-form-field class="w-full"  floatLabel="always">
                <mat-label>Publisher Email</mat-label>
                <input matInput [formControlName]="'publisherEmail'" placeholder="e.g. john@company.com" type="email"
                    required maxlength="200" />
                @if (entityForm.get('publisherEmail').hasError('required')) {
                <mat-error>Publisher Email is required </mat-error>
                }
                @if (entityForm.get('publisherEmail').hasError('email')) {
                <mat-error>Publisher Email is invalid </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="w-full"  floatLabel="always">
                <mat-label>Phone</mat-label>
                <input matInput [formControlName]="'phone'" placeholder="e.g. +91 9876543210" required minlength="10"
                    maxlength="15" />
                @if (entityForm.get('phone').hasError('required')) {
                <mat-error>Phone is required </mat-error>
                }
            </mat-form-field>

        </div>


        <input matInput [formControlName]="'id'" [hidden]="true" />
    </form>

    <div class="flex items-center justify-end border-t bg-gray-50 px-8 py-3 dark:bg-gray-700">

        <button mat-button (click)="matDialogRef.close()">Cancel</button>
        <button class="ml-3 px-6" mat-flat-button [color]="'primary'"
            (click)="mode === 1 ? addEntity(): updateEntity()"
            [disabled]="entityForm.invalid || entityForm.disabled">
            @if (!entityForm.disabled) {
            <span> Save </span>
            }
            @if (entityForm.disabled) {
            <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
            }
        </button>
    </div>

</ng-template>
