<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Manage Curriculum
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [(ngModel)]="query" [autocomplete]="'off'" [placeholder]="'Search by name'" />
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openDialog(1)"
                [disabled]="entityForm.disabled || entityForm.disabled">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto">

            @if (list$ | async; as list) {
            @if (list.length > 0) {
            <div class="grid">
                <!-- Header -->
                <div class="list-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    matSort matSortDisableClear>
                    <div [mat-sort-header]="'name'">Name</div>
                    <div [mat-sort-header]="'createdOn'">Created On</div>
                    <div [mat-sort-header]="'publisherName'">Publisher Name</div>
                    <div [mat-sort-header]="'publisherEmail'">Publisher Email</div>
                    <div [mat-sort-header]="'phone'">Phone</div>
                    <div class="hidden sm:block">Actions</div>
                </div>

                <!-- Filtered + Sorted Rows -->
                @if (list | SearchFilter:query:'name'; as filteredList) {
                <div *ngIf="filteredList.length > 0; else noRecordFound">
                    @for (item of filteredList; track trackByFn($index, item)) {
                    <div class="list-grid grid items-center gap-4 border-b px-6 py-3 md:px-8">
                        <div class="truncate" [title]="item.name">{{ item.name }}</div>
                        <div [title]="item.createdOn">{{ item.createdOn }}</div>
                        <div [title]="item.publisherName">{{ item.publisherName }}</div>
                        <div [title]="item.publisherEmail">{{ item.publisherEmail }}</div>
                        <div [title]="item.phone">{{ item.phone }}</div>

                        <div class="flex gap-2">
                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                [matTooltip]="'Update'" [disabled]="entityForm.disabled" (click)="openDialog(2, item)">
                                <mat-icon class="icon-size-6 text-primary-500"
                                    [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                            </button>

                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                [matTooltip]="'Delete'" (click)="deleteItem(item)">
                                <mat-icon class="icon-size-6 text-red-500"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    }
                </div>

                <ng-template #noRecordFound>
                    <div class="border-t p-8 text-center text-2xl tracking-tight">
                        No records found for the term <span class="font-semibold">"{{ query }}"</span>
                    </div>
                </ng-template>
                }
            </div>
            }
            @else {
            <div class="border-t p-8 text-center text-4xl tracking-tight sm:p-16">
                <ng-container *ngTemplateOutlet="noData"></ng-container>
            </div>
            }
            }
            @else {
            <ng-container *ngTemplateOutlet="noData"></ng-container>
            }
        </div>
    </div>
</div>

<ng-template #noData>
    <div class=" p-8 text-center text-4xl tracking-tight sm:p-16">
        <div class="w-full flex justify-center">
            <img src="images/no-data.png" alt="No data" class="w-90" />
        </div>
        <div class="mt-5 text-center text-4xl font-extrabold">
            No Data Available!
        </div>
        <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
            It looks like you haven’t added any curriculums to start with. Add curriculum information by clicking the
            (+) button on the top right.
        </div>

    </div>
</ng-template>
