<div class="bg-gray-100 flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <div class="min-w-0 flex-1">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                {{ 'navigation.grades' | transloco }}
            </div>
            <div class="text-xl text-secondary">
                Add grade information under this curriculum
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense rounded-md min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [(ngModel)]="query" (ngModelChange)="applyFilter()" [autocomplete]="'off'"
                    [placeholder]="'common.search' | transloco" />
            </mat-form-field>

            <mat-form-field class="ml-4" [subscriptSizing]="'dynamic'">
                <mat-select [value]="'week'">
                    <mat-option value="week">This Week</mat-option>
                    <mat-option value="month">This Month</mat-option>
                    <mat-option value="custom">Custom</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="ml-4 bg-white rounded-md" mat-stroked-button>
                <mat-icon [svgIcon]="'mat_outline:file_download'"></mat-icon>
            </button>

            <button class="ml-4 rounded-md" mat-flat-button [color]="'primary'" (click)="openDialog(1)">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <div class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto">


            <div class="p-4 overflow-x-auto">
                <table *ngIf="dataSource?.data?.length > 0 else noData" mat-table [dataSource]="dataSource" matSort
                    class="w-full rounded-lg border border-gray-300 overflow-hidden shadow-sm">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'grades.header_name' | transloco }}</th>
                        <td mat-cell *matCellDef="let element"><a class="text-primary" [routerLink]="element.id + '/subjects'">{{ element.name }}</a></td>
                    </ng-container>

                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'grades.header_created_on' | transloco }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
                    </ng-container>

                    <ng-container matColumnDef="modifiedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'grades.header_modified_on' | transloco }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.updatedAt | date }}</td>
                    </ng-container>

                    <ng-container matColumnDef="noOfSubjects">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'grades.header_subject_count' | transloco }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.subject_count ?? '-' }}</td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | transloco }} </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex gap-2">
                                <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                    [matTooltip]="'common.update' | transloco" [disabled]="entityForm.disabled"
                                    (click)="openDialog(2, element)">
                                    <mat-icon class="icon-size-6 text-primary-500"
                                        [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                                </button>

                                <button class="h-7 min-h-7 min-w-10 px-2 leading-6 border-none" mat-stroked-button
                                    [matTooltip]="'common.delete' | transloco" (click)="deleteItem(element)">
                                    <mat-icon class="icon-size-6 text-red-500"
                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Header & Row Declarations -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <!-- No Records Message -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="p-6 text-center text-xl tracking-tight">
                                {{ 'common.noRecordsFound' | transloco }} <span class="font-semibold">"{{ query }}"</span>
                            </div>
                        </td>
                    </tr>
                </table>

                <mat-paginator *ngIf="dataSource?.data?.length > 0" class="z-10 border-b mt-5 bg-white rounded-md"
                    [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
                </mat-paginator>

            </div>
        </div>
    </div>
</div>

<ng-template #noData>
    <div class="p-8 text-center text-4xl tracking-tight">
        <div class="w-full flex justify-center">
            <img src="images/no-data.svg" alt="No data" class="w-90" />
        </div>
        <div class="mt-5 text-center text-4xl font-extrabold">
           {{ 'common.noDataAvailable' | transloco }}
        </div>
        <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
          {{ 'grades.empty_state_line1' | transloco }} <br> {{ 'grades.empty_state_line2' | transloco }}
        </div>

    </div>
</ng-template>

<ng-template #EntityDialog let-data="data">
    <div class="flex max-h-160 flex-auto flex-col overflow-hidden">
        <!-- Header -->
        <div
            class="flex h-14 flex-0 items-center justify-between bg-blue-600 pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
            <div class="text-lg font-medium">{{ mode === 1 ? ('grades.button_add_grade' | transloco) : ('grades.button_update_grade' | transloco)}}</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Card form -->
    <form class="flex w-full flex-0 flex-col items-start overflow-y-auto max-h-96 space-y-3 p-4 mt-3"
        [formGroup]="entityForm">

        <div class="flex w-full">
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>{{ 'grades.label_grade_name' | transloco }}</mat-label>
                <input matInput [formControlName]="'name'" [placeholder]="'e.g. Grade 1'" required maxlength="200" />
                @if (entityForm.get('name').hasError('required')) {
                <mat-error>{{ 'grades.error_grade_name_required' | transloco }} </mat-error>
                }
            </mat-form-field>
        </div>
        <input matInput [formControlName]="'id'" [hidden]="true" />
    </form>

    <div class="flex items-center justify-end border-t bg-gray-50 px-8 py-3 dark:bg-gray-700">

        <button mat-button (click)="matDialogRef.close()"> {{ 'common.cancel' | transloco }}</button>
        <button class="ml-3 px-6" mat-flat-button [color]="'primary'" (click)="mode === 1 ? addEntity(): updateEntity()"
            [disabled]="entityForm.invalid || entityForm.disabled">
            @if (!entityForm.disabled) {
            <span>  {{ 'common.save' | transloco }} </span>
            }
            @if (entityForm.disabled) {
            <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
            }
        </button>
    </div>

</ng-template>
