<div class="flex min-w-0 flex-auto flex-col bg-gray-100 sm:absolute sm:inset-0 dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col px-6 py-3 sm:flex-row sm:items-center sm:justify-between">
        <div class="min-w-0 flex-1">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                {{ 'navigation.manageClasses' | transloco }}
            </div>
            <div class="text-secondary text-xl">
                {{ 'classes.subtext' | transloco }}
            </div>
        </div>
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense rounded-md min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [(ngModel)]="query" [autocomplete]="'off'"
                    [placeholder]="'common.search' | transloco" />
            </mat-form-field>


        </div>
    </div>

    <div class="-mt-px flex-auto p-4 pt-0 overflow-y-auto">
        <ng-container *ngIf="filteredList?.length > 0; else noData">

            <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">

                <div *ngFor="let card of filteredList"
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow mb-4">
                    <div class="flex">
                        <div class="text-2xl font-bold leading-6 tracking-tight">
                            {{ card.grade }} - {{ card.section }} - {{ card.subject }}
                        </div>
                    </div>
                    <div class="mt-5 flex flex-row items-center justify-between">
                        <div class="text-5xl font-extrabold leading-none tracking-tight">
                            {{ card.completed }}/{{ card.total }} <br>
                            <div class="mt-2 truncate text-lg text-secondary font-medium">
                                {{ 'school_structure.chapters_completed_label' | transloco }}
                            </div>
                        </div>
                        <div class="progress-container">
                            <a class="ml-4 rounded-md" mat-flat-button [routerLink]="card.id + '/chapters'" [color]="'primary'">
                                <mat-icon svgIcon="mat_outline:arrow_forward_ios"></mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noData>
            <div class="p-8 text-center text-4xl tracking-tight">
                <div class="w-full flex justify-center">
                    <img src="images/no-data.svg" alt="{{ 'common.noDataAvailable' | transloco}}" class="w-90" />
                </div>
                <div class="mt-5 text-center text-4xl font-extrabold">
                    {{ 'common.noDataAvailable' | transloco}}
                </div>
                 <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
                    {{ 'classes.empty_state_title' | transloco}}
                </div>
            </div>
        </ng-template>
    </div>
</div>