<div class="flex min-w-0 flex-auto flex-col bg-gray-100 sm:absolute sm:inset-0 dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <div class="min-w-0 flex-1">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                {{ selectedGrade }}
            </div>
            <div class="text-secondary text-xl">
                {{ 'classes.chapterlist_page_subtext' | transloco }}
            </div>
        </div>
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense rounded-md min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [(ngModel)]="query" [autocomplete]="'off'"
                    [placeholder]="'common.search' | transloco"/>
            </mat-form-field>


        </div>
    </div>

    <div class="-mt-px flex-auto p-4 pt-0 sm:p-6 overflow-y-auto">

        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow mb-4">
            <div class="flex">
                <div class="text-2xl font-bold leading-6 tracking-tight">
                    {{ 'school_structure.chapters_completed_label' | transloco }}
                </div>
            </div>
            <div class="mt-5 flex flex-row items-center justify-between">
                <div class="text-5xl font-extrabold leading-none tracking-tight">
                    {{ card.completed }}/{{ card.total }}

                </div>
                <!-- <div class="progress-container">
                    <a class="ml-4 rounded-md" mat-flat-button [routerLink]="card.id + '/chapters'" [color]="'primary'">
                        <mat-icon svgIcon="mat_outline:arrow_forward_ios"></mat-icon>
                    </a>
                </div> -->
            </div>
        </div>

        <div class="bg-card mt-3 overflow-x-auto rounded-2xl p-6 shadow">
            <table mat-table [dataSource]="filteredChapterList">

                <ng-container matColumnDef="chapterName">
                    <th mat-header-cell *matHeaderCellDef> {{ 'classes.heading_chapter_name' | transloco }} </th>
                    <td mat-cell *matCellDef="let element">
                        <a class="text-primary" [routerLink]="element.id + '/details'"> {{element.name}} </a> </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>  {{ 'classes.heading_status' | transloco }} </th>
                    <td mat-cell *matCellDef="let element"> <p-chip [label]="element.status" /> </td>
                </ng-container>

                <ng-container matColumnDef="completion">
                    <th mat-header-cell *matHeaderCellDef> {{ 'classes.heading_completion' | transloco }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.completion}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                 
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <div class="p-6 text-center text-xl tracking-tight">
                            {{ 'classes.no_chapters_available' | transloco }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>