<div class="absolute  inset-0">
    <!-- Main -->
    <div
        class="flex h-full flex-auto flex-col items-center justify-center p-6 sm:p-10"
    >
        <!-- prettier-ignore -->
        <div class="w-full max-w-xl flex justify-center">
            <img src="images/celebrations.png" class="w-120" alt="Success"/>
        </div>
        <div
            class="mt-12 text-center text-3xl font-extrabold leading-tight tracking-tight sm:mt-10 md:text-6xl md:leading-none"
        >
            Congratulations!
        </div>
        <div
            class="text-secondary mt-3 text-center text-md text-gray-500 tracking-tight md:text-xl"
        >
           Your institute has been successfully registered. You can now manage the institute from the portal
        </div>
        <div class="mt-3 flex gap-2 justify-center items-center ">
            <p class="text-2xl font-semibold">{{ domain }}</p>
           <button class="ml-4 max-w-[20px] min-w-[20px] bg-white rounded-md" (click)="copyDomainToClipboard()" mat-stroked-button>
            <mat-icon class="icon-size-4" [svgIcon]="'mat_outline:content_copy'"></mat-icon>
        </button>
        </div>
        <a
            class="bg-primary px-4 py-2 rounded-lg mt-5 w-80 text-center font-medium text-white"
            [routerLink]="['/institute','sign-in']"
        >
            Go to institute portal
        </a>
    </div>
</div>
