<div class="flex min-w-0 flex-auto flex-col bg-gray-100 sm:absolute sm:inset-0 dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col px-6 py-3 sm:flex-row sm:items-center sm:justify-between">
        <div class="min-w-0 flex-1">
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                {{ 'navigation.dashboard' | transloco }}
            </div>
        </div>
    </div>

    <div class="-mt-px flex-auto p-4 pt-0 overflow-y-auto">
        <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div *ngFor="let card of cardDataList"
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow mb-4">
                <div class="flex">
                    <div class="text-2xl font-bold leading-6 tracking-tight">
                        {{ card.cardTitle }}
                    </div>
                </div>
                <div class="mt-5 flex flex-row items-center justify-between">
                    <div class="text-5xl font-extrabold leading-none tracking-tight">
                        {{ card.chaptersCompleted }}<br>
                        <div class="mt-2 truncate text-lg text-secondary font-medium">
                            {{ 'school_structure.chapters_completed_label' | transloco }}
                        </div>
                    </div>
                    <div class="progress-container">
                        <app-circle-progress [progress]="card.progressPercentage"></app-circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>