/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

// Alerts
mat-snack-bar-container {
    &.success-alert {
     .mdc-snackbar__surface {
        background-color:green !important;
        color:white;
    }
  }
    &.error-alert {
     .mdc-snackbar__surface {
        background-color:rgb(152, 31, 9) !important;
        color:white;
    }
   }
 }

 .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0 !important;
    overflow: hidden !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 75px !important;
}
